
div {
    background-image: linear-gradient(to right bottom,
    rgba(200, 212, 218, 0.856),
    rgba(80, 185, 238, 0.466)
    ),
    url(snow.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 110vh;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: rgb(0, 89, 255);
    font-size: 70px;
    text-transform: uppercase;
}

li {
    color: rgb(20, 98, 243);
    list-style: none;
    font-size: 55px;
}

img {
    filter: brightness(140%) drop-shadow(10px 10px 15px black);
}